<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ipl data project</title>
</head>
<body>
    <h1>You have to follow this table to see result</h1>
    <table border="1px">
        <tr>
            <th>question</th>
            <th>url</th>
        </tr>
        <tr>
            <td>Number of matches played per year for all the years in IPL</td>
            <td>/played</td>
        </tr>
        <tr>
            <td>Number of matches won per team per year in IPL.</td>
            <td>/won</td>
        </tr>
        <tr>
            <td>Extra runs conceded per team in the year 2016</td>
            <td>/runs</td>
        </tr>
        <tr>
            <td>Top 10 economical bowlers in the year 2015</td>
            <td>bowler</td>
        </tr>
    </table>
</body>
</html>